<p id="notice"><%#= notice %></p>

<p>
  <%= @blog.date_created %>
</p>

<p>
  <strong><%= @blog.title %></strong>
</p>

<p>
  <%= @blog.content %>
</p>


<p>
  <% @blog.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
