<div class="container"><h1>We are currently delivering for our partners: </h1>
  <div class="bakery">
    <% @bakeries.each do |bakery| %>
      <div class="name-logo">
        <%= image_tag ("cookies&cream.png") %>
        <h2><%= link_to bakery.name, bakery_path(bakery), target: :_blank %></h2>
      </div>
      <h6><%= bakery.description %></h6>
      <br>
      <p><i class="fas fa-map-marker-alt"></i> <%= bakery.address %></p>
      <p><i class="fas fa-biking"></i> <%= bakery.delivery_cost %>€</p>
    <% end %>
  </div>
</div>

