<div class="container">
  <h3>Add information about your bakery: </h3>
    <%= simple_form_for @bakery do |f| %>
      <%= f.input :name, label: 'Name', placeholder: 'e.g. Zeit für Brot' %>
      <%= f.input :description, label: 'Describe your bakery', placeholder: "e.g. we are offering cookies, donuts..." %>
      <%= f.input :delivery_cost, label: 'Delivery cost' %>
      <%= f.input :address, label: 'Address', placeholder: 'e.g. Torstr. 31 10119 Berlin' %>
      <%#= f.input :photos, label: 'Upload image for WOW factor', as: :file, input_html: { multiple: true }%>
      <br>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
      <br>
      <%= link_to :back do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <br>
      <br>
</div>
